.info{
    width: 60%;
}
.pictures{
    padding: 10px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
input[name="animal"]{
    display:none;
}
.pictures>div>label{
    cursor: pointer;
    margin: 8px;
}
input[id="cat1"]:checked ~ .pictures div label[for="cat1"] img,
input[id="cat2"]:checked ~ .pictures div label[for="cat2"] img,
input[id="cat3"]:checked ~ .pictures div label[for="cat3"] img,
input[id="dog4"]:checked ~ .pictures div label[for="dog4"] img{
    border:4px solid #ff9800;
    border-radius: 4px;
}
.valid{
    color:red;
    height: 50px;
    justify-content: flex-start;
}
label{
    width: 180px;
    height: 180px;
}
label>img{
    width: 150px;
    height: 150px;
}